form(action="/students" method="post")
  input(type="text" name="firstName" placeholder="First Name")
  input(type="text" name="lastName" placeholder="Last Name")
  input(type="text" name="email" placeholder="Email")
  button(type="submit") Add Student